.general {
    margin-top: 40px;
    .title {
        font-size: 30px;
        font-weight: 700;
        color: var(--title-color-);
    }
    .content {
        margin-top: 20px;
        
    }
}

@media (max-width: 1200px) {
    
}
@media (max-width: 990px ) {
} 
@media (max-width: 768px ) {
    
}
@media (max-width: 480px) {
   
}