.projectsRouter {
    padding: 0 150px;
}

@media (max-width: 1200px) {
    
}
@media (max-width: 990px ) {
    .projectsRouter {
        padding: 0 20px;
    }
} 
@media (max-width: 768px ) {
    .projectsRouter {
        padding: 0 20px;
    }
}
@media (max-width: 480px) {
    .projectsRouter {
        padding: 0 20px;
    }
}