.career {
    margin-top: 90px;
    padding: 20px 100px;
    .duration{
        display: flex;
        align-items: center;
    }

}

@media (max-width: 1200px) {
    
}
@media (max-width: 990px ) {
} 
@media (max-width: 768px ) {
    
}
@media (max-width: 480px) {
   
}