.descriptive {
    margin-top: 20px;
    .content {
        display: flex;
        flex-direction:row ;
        padding: 40px 30px;
        border: 6px solid rgb(249, 249, 249) ;
        border-radius: 10px;
        width: 100%;
        align-items: center;
        margin-top: 20px;
        .image {
            width: 100%;
            position: relative;
            padding: 20px;
            img {
                width: 100%;
                border-radius: 10px;

            }
        }
        h1 {
            color: var(--title-color-);
        }
        p {
            color: rgba(77, 89, 105, 0.7);
        }
        h4 {
            color: rgb(77, 89, 105);
            display: flex;
            justify-content: flex-end;
        }
        h5 {
            color: rgb(77, 89, 105);
        }
    }
}

@media (max-width: 1200px) {
    
}
@media (max-width: 990px ) {
    .descriptive {
        margin-top: 20px;
        padding: 60px 20px;
        .content {
            
            .image {
                padding: 40px;
               
                transform: translateX(0) scale(0.7);
                img {
    
                }
            }
            h1 {
            }
            p {
            }
            h4 {
            }
            h5 {
            }
        }
    }
} 
@media (max-width: 768px ) {
    .descriptive {
        margin-top: 20px;
        padding: 60px 20px;
        .content {
            
            .image {
                padding: 40px;
               
                transform: translateX(0) scale(0.7);

                img {
    
                }
            }
            h1 {
            }
            p {
            }
            h4 {
            }
            h5 {
            }
        }
    }
}
@media (max-width: 480px) {
    .descriptive {
        margin-top: 20px;
        padding: 60px 20px;
        .content {
            
            .image {
                padding: 40px;
                
                transform: translateX(0) scale(0.7);

                img {
    
                }
            }
            h1 {
            }
            p {
            }
            h4 {
            }
            h5 {
            }
        }
    }
}